.product {
  color: $granite-gray;
  padding: 3em;

  &__img {
    max-width: 100%;
  }

  &__title {
    font-weight: 700;
    font-size: 2em;
    text-align: center;
  }

  &__text {
    font-weight: 200;
    margin: {
      left: auto;
      right: auto;
    };
    max-width: 700px;
  }

  &--gray {
    @extend .product;
    background: $granite-gray;
    color: $white;
  }
}
